<br>
<br>

<div class="nav">
    <div class="heading">
        <a href="http://localhost:3000/">Home</a>
        <a href="http://localhost:3000/nifty50">Nifty 50</a>
        <a href="http://localhost:3000/indicators/sd">S. Deviation</a>
        <a href="http://localhost:3000/indicators/cons">Consolidation</a>
        <a href="http://localhost:3000/indicators/brk">Breakout</a>

    </div>
    <div class=search>
        <form action="/stock">
            <input type="text" name="sym">
            <button>Search</button>
        </form>
    </div>


</div>