<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sdinput.css">
</head>

<body>

    <div class="logo">

        <a href="http://localhost:3000"><img src="/logoclean.png" alt=""></a>
    </div>
    <%- include('partials/navbar_partial') %>

    <div class="inp">

        <form action="/indicators/brk/out">

            <label for="timefr">Enter number of days :- </label>
            <input type="text" name="timefr" id="timefr">

            <br>
            <br>

            <button>Submit</button>


        </form>

    </div>


    <br>
    <br>
    <br>


</body>

</html>