<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sdinput.css">
</head>

<body>


    <%- include('partials/navbar_partial') %>

    <br>
    <br>
    <br>

    <div class="inp">
        <form action="/indicators/sd/out">
            <label for="distance"> Enter the number of times SD of minimum : --</label>
            <input type="text" name="distance" id="distance">
            <br>

            <label for="total"> Enter total days for checking : --</label>
            <input type="text" name="total" id="total">
            <br>

            <label for="n"> Enter the number of days for SD calculation: --</label>
            <input type="text" name="n" id="n">
            <br>
            <button>Submit</button>
        </form>
    </div>


</body>

</html>